body {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	background: white;
	margin: 0;
	padding: 0;
	z-index: 0;
	text-decoration: none;
}

@media screen and (aspect-ratio < 5/8) {
	* {
		padding: 0;
	}

}

nav.head-nav {
	text-decoration: none;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-around;
	z-index: 5;
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.7);
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
}

nav.head-nav>.bar {
	margin: 0 10px;
	cursor: pointer;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	font-family: WDXL Lubrifont TC;
	font-size: 23px;
}

nav.head-nav .bar>li {
	align-items: center;
	text-align: center;
	padding: 20px;
	line-height: 30px;
	width: 120px;
	margin: 0 20px;
	transition: all 0.1s ease;
}

nav.head-nav .bar>li ul {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 20px 0;
	list-style: none;
	display: none;
	backdrop-filter: blur(10px);
}

nav.head-nav .bar>li ul li {
	text-align: left;
	border-radius: 20px;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

nav.head-nav .bar>li:hover ul {
	display: block;
}

nav.head-nav .bar>li:hover {
	transform: scale(1.1);
}

nav.head-nav .brand {
	padding: 17px;
	color: black;
	text-decoration: none;
	font-family: Gochi Hand;
	display: flex;
}

nav.head-nav .brand h3 {
	padding: 5px;
	margin-left: 7px;
}

nav.head-nav .brand img {
	height: 30px;
}

nav.head-nav .follow {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
}


@media (aspect-ratio < 5/8) {


	section.foot .foot-container {
		display: block;
	}

	section.foot .owner-container {
		display: flex;
		justify-content: center;
	}

	.contact .bottom-sticky text {
		display: none;
	}

	.contact {
		width: 100%;
	}

	.contact .bottom-sticky {
		width: 100%;
	}

	.contact .bottom-sticky ul .email {
		display: none;
	}

	.contact .bottom-sticky ul li {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.contact .bottom-sticky ul {
		justify-content: space-around;
	}

	nav.head-nav .brand {
		font-size: 10px;
	}

	/* .contact .bottom-sticky ul .call::after {
		content: 'Call Us';
		font-family: Inter;
		font-size: 20px;
	} */
}

@media (aspect-ratio < 1/1) {
	nav.head-nav .toggle {
		padding: 18px;
		display: block;
	}

	nav.head-nav .toggle img {
		height: 40px;

	}

	nav.head-nav .follow a div {
		width: 60px;
	}

	nav.head-nav>.bar>li {
		display: none;
	}

	nav.head-nav {
		height: 80px;
	}

	.box {
		left: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
		position: absolute;
		margin-top: 80px;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.box li {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		width: 100%;
		font-size: 20px;
	}
}

@media (aspect-ratio < 8/7) {
	.gallery div .info p {
		display: none;
	}
}